<%- include("partials/header") %>

          <div class="jumbotron rounded-0">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 align-self-end">
                    <img class="img-fluid" id="bucket-img" src="/images/home-illustration.svg">
                  </div>
                  <div class="col-md-6">
                    <p>Sometimes, what matters is to pack your bags and get on a car and travel NON-STOP.</p>
                    <h3>Explore! The World is Not Enough</h3>
                  </div>
                </div>
          </div>
          <div id="stripe">
              <div class="container align-items-center">
                    <a class="bolder" href="/places">My Visited Places</a>
                    <a class="bolder" href="/places/bucket">My Bucket List</a>
              </div>
          </div>
          <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3">
                  <h4>My Bucket List</h4>
                </div>
                <div class="col-md-3">
                  <a class="addButton btn" href="/places/new">ADD PLACE</a>
                </div>
            </div>
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
              <% places.forEach(function(place){
                  if(place.isBucket&&place.username == currentUser.username){ %>
                <div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                    <img class="img-fluid" src="<%= place.image %>">
                    <div class="caption">
                      <a href="/places/<%= place._id %>/show">
                        <h5 class="bolder"><%= place.name %></h4>
                      </a>
                      <p class="date"><%= place.date %></p>
                    </div>
                  </div>
                </div>
              <% }}); %> 
            </div>
          </div>
          
<%- include("partials/footer") %>
          
  